@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.about_sec2{
    padding: 100px 0 0 70px;
}
.about_sec2-box{
    display: flex;
}
.about_sec2-left img{
    width: 350px;
    padding-top: 30px;
}
.about_sec2-right{
    padding-left: 30px;
    padding-top: 40px;
}
.sec2-icons{
    display: flex;
    padding-top: 100px;
}
.icon1{
    border: 2px solid #EBEBF0;
    Width:208px;
    Height: 148px;
    padding: 15px 0 0 20px;
}
.icon4{
    border: 2px solid #EBEBF0;
    Width: 208px;
    Height: 148px;
    padding: 15px 0 0 20px;
}
.icon3{
    border: 2px solid #EBEBF0;
    Width:208px;
    Height: 148px;
    padding: 15px 0 0 20px;
}
.icon2{
    border: 2px solid #EBEBF0;
    Width:208px;
    Height: 148px;
    padding: 15px 0 0 20px;
}
.icon5{
    border: 2px solid #EBEBF0;
    Width:208px;
    Height: 148px;
    padding: 15px 0 0 20px;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    .about_sec2{
        padding: 20px;
        font-size: 14px;
        box-sizing: border-box;
    }
    .about_sec2-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about_sec2-left img{
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .about_sec2-right{
        padding: 0;
    }
    .p21{
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #292D33;
        margin: 10px 0;
    }
    .p23{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #292D33;
        margin: 10px 0;
    }
    .sec2-icons{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 30px;
    }
    .icon1, .icon2, .icon3, .icon4, .icon5{
        border: 2px solid #EBEBF0;
        width: 100%;
        max-width: 180px;
        height: auto;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mt-2{
        width: 30px;
        height: 30px;
    }
    .pt-2{
        font-size: 1rem;
    }
}