@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec6-1{
    padding: 80px 0 0 70px;
}
.sec6-box{
    display: flex;
}
.p-h2{
    font-size: 35px;
    padding-top: 20px;
    font-family: 'Bebas Neue',sans-serif;
    color: #292D33;
}
.ul-box{
    display: flex;
}
.ul-box ul{
    list-style: none;
    font-size: 16px;
    font-family: 'Noto Sans',sans-serif;
    color: #292D33;
    margin: 0;
}
.svg3{
    margin: 0 0 0 0;
    width: 35px;
    height: 35px;
}
.sec6-right{
    display: flex;
    padding: 50px 0 0 100px;
}
.top-left img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.top-center img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.top-right img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.center-left img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.center-center img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.center-right img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.bottom-left img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.bottom-center img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.bottom-right img{
    Width: 69.24px;
    Height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.burger-logo{
    transition: all 0.3s ease;
}
.burger-logo:hover{
    content: url("image/cec83dde9dfe03a96a3a8e492d839a0631c4d486 (1).png");
}
.ul-md1{
    padding: 15px 0 0 0;
}
.ul-md2{
    padding: 15px 0 0 0;
}
.li2{
    margin-left: 30px;
}

@media (max-width: 420px) {
    .sec6-1{
        padding: 60px 0 0 35px;
    }
    .sec6-box{
        display: flex;
        flex-direction: column;
    }
    .ul-box{
        margin-top: 20px;
    }
    .p-h2{
        font-size: 30px;
        font-family: 'Bebas Neue', sans-serif;
        color: #292D33;
        padding-top: 20px;
    }
    .sec6-right_mobile2{
        display: flex;
        flex-direction: column;
    }
    .burger-center{
        display: none;
    }
    .burger-top{
        display: none;
    }
    .burger-bottom{
        display: none;
    }
    .ul-md2{
        padding: 0 0 0 0;
    }
    .li2{
        margin-left: 0;
    }
}
@media (min-width: 1024px) {
    .sec6-right_mobile2{
        display: none;
    }
}