@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.about_sec5-box span{
    font-family: "Bebas Neue", sans-serif;
    color: #292D33;
    font-size:  50px;
}
.about_sec5{
    padding: 100px 0 0 70px;
}
.about_sec5-top{
    display: flex;
}
.about_sec5-bottom{
    display: flex;
    padding-top: 50px;
    margin-left: -70px;
}
.btn1 {
    width: 160px;
    height: 60px;
    background: #5C8EE5;
}
.buttons{
    display: flex;
    margin-top: 20px
}
.img1{
    width: 500px;
}
.img2{
    width: 500px;
    padding-left: 20px;
}
.img3{
    width: 500px;
    padding-left: 20px;
}
.img4{
    width: 500px;
    padding-left: 20px;
}
.carousel{
    position: relative;
    max-height: 1200px;
    padding-top: 50px;
    margin-left: -100px;
}
.carousel-img{
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}
.carousel-img.active{
    opacity: 1;
    display: block;
}