@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec3{
    padding: 70px 0 0 70px;
}
.sec3-box h2{
    font-size: 40px;
    font-family: 'Bebus Neue',sans-serif;
    color: #292D33;
    padding-top: 15px;
}
.sec3-card_top{
    display: flex;
}
.sec3-card_bottom{
    display: flex;
}
.sec3-top-left{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.sec3-top-right{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.sec3-top-center{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.sec3-bottom-left{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.sec3-bottom-right{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.sec3-bottom-center{
    width: 400px;
    border: 1px solid #EBEBF0;
}
.p4{
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
    color: #292D33;
    padding: 20px 0 15px 20px;
}
.p5{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #828A99;
    padding: 0 0 0 20px;
}
.sec3-top-left img{
    width: 360px;
    padding-top: 110px;
}
.sec3-top-center img{
    padding-top: 85px;
    width: 360px;
}
.sec3-top-right img{
    padding-top: 90px;
    padding-left: 30px;
    width: 360px;
}
.sec3-bottom-left img{
    width: 360px;
    padding-top: 65px;
}
.sec3-bottom-center img{
    width: 360px;
    padding-top: 90px;
}
.sec3-bottom-right img{
    width: 360px;
    padding: 40px 0 0 30px;
}
@media (max-width: 420px) {
    .sec3{
        padding: 70px 0 0 35px;
    }
    .sec3-box h2{
        font-size: 36px;
    }
    .sec3-card_top{
        display: flex;
        flex-direction: column;
    }
    .sec3-card_bottom{
        display: flex;
        flex-direction: column;
    }
    .sec3-top-left{
        width: 345px;
    }
    .sec3-top-center{
        width: 345px;
    }
    .sec3-top-right{
        width: 345px;
    }
    .sec3-bottom-left{
        width: 345px;
    }
    .sec3-bottom-center{
        width: 345px;
    }
    .sec3-bottom-right{
        width: 345px;
    }
    .dekstop{
        display: none;
    }
}
@media (min-width: 1024px) {
    .mobile{
        display: none;
    }
}