@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.marks_sec1{
    background: #F0F2F5;
    height: 210px;
    padding: 50px 0 0 70px;
}
.marks_sec1 h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #292D33;
    padding-top: 20px;
}
.marks_sec1-box span{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: #292D33;
}
.p22 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: #828A99;
}