@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec5 {
    padding-top: 100px;
}
.sec5-box{
    display: flex;
}
.sec5-left img{
    width: 600px;
}
.sec5-right{
    padding: 25px 0 0 50px;
}
.sec5-right h2{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: #292D33;
    padding-top: 20px;
}
.p11{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #828A99;
    padding-top: 10px;
}
.sec5-bottom{
    display: flex;
}
.p12{
    color: #5C8EE5;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 0 0 10px;
}
@media (max-width: 420px){
    .sec5-box{
        display: flex;
        flex-direction: column;
    }
    .p11{
        font-size: 14px;
        font-family: 'Noto Sans', sans-serif;
        color: #828A99;
        padding-top: 20px;
        width: 360px;
    }
    .sec5-right h2{
        font-size: 35px;
        font-family: 'Bebas Neue', sans-serif;
        color: #292D33;
        padding-top: 20px;
    }
    .sec5-left img{
        width: 414px;
        margin-bottom: 20px;
    }
    .sec5-right{
        padding: 25px 0 0 35px;
    }
    .p12-mobile{
        color: #5C8EE5;
        font-size: 14px;
        font-weight: bold;
        padding: 14px 0 0 10px;
    }
    .p12{
        display: none;
    }
}
@media (min-width: 1024px) {
    .p12-mobile{
        display: none;
    }
}