@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec4{
    padding: 50px 0 0 70px;
}
.sec4-card{
    display: flex;
    padding-top: 30px;
}
.p6{
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    color: #292D33;
}
.p7{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
}
.p8{
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    color: #5C8EE5;
}
.description{
    padding-left: 30px;
    padding-top: 40px;
}
.logo{
    padding-top: 20px;
}
.sec4-box h2{
    font-size: 35px;
    font-family: 'Bebus Neue',sans-serif;
    color: #292D33;
    padding-top: 20px;
}
.sec4-left{
    display: flex;
}
@media (max-width: 420px){
    .sec4{
        padding: 80px 0 0 35px;
    }
    .sec4-box h2{
        font-size: 36px;
    }
    .sec4-card{
        display: flex;
        flex-direction: column;
    }
    .agtech-dekstop {
        display: none;
    }
    .p6{
        display: none;
    }
    .p7{
        display: none;
    }
    .p7-mobile{
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        color: #828A99;
        padding: 0 0 30px 32px;
    }
    .p6-mobile{
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        color: #292D33;
        padding: 40px 0 0 30px;
    }
    .sec4-left{
        display: none;
    }
    .sec4-right{
        display: none;
    }
    .p8{
        display: none;
    }
    .p8-mobile{
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        color: #292D33;
        padding: 30px 0 0 30px;
    }
    .logo{
        display: none;
    }
}
@media (min-width: 1024px){
    .agtech-mobile{
        display: none;
    }
    .p7-mobile{
        display: none;
    }
    .p6-mobile{
        display: none;
    }
    .sec4-left_mobile{
        display: none;
    }
    .sec4-right_mobile{
        display: none;
    }
    .p8-mobile{
        display: none;
    }
}