@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    background: white;
}
.header-box{
    display: flex;
    justify-content: space-between;
}
.ul-overall{
    font-family: 'Noto Sans',sans-serif;
    color: #292D33;
    font-size: 14px;
    list-style: none;
    display: flex;
    column-gap: 15px;
    padding-top: 40px;
    text-decoration-line: none;
}
.svg2{
    padding-top: 40px;
    padding-left: 50px;
}
.header-box p{
    font-family: 'Noto Sans',sans-serif;
    color: #292D33;
    font-size: 14px;
    padding-top: 40px;
    font-weight: bold;
}
.header-box button{
    Width: 252px;
    Height: 94px;
    background: #5C8EE5;
    font-family: 'Noto Sans',sans-serif;
    color: white;
    font-size: 16px;
    border-color: #5C8EE5;
}
@media (max-width: 768px) {
    .container{
        background: white;
        box-sizing: border-box;
    }
    .svg1{
        margin-top: 4px;
    }
    .ul5{
        padding-left: 24px;
        font-size: 14px;
        padding-top: 10px;
    }
    .header-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-box .svg5{
        display: none;
    }
    .header-box p{
        display: none;
    }
    .svg-desktop{
        display: none;
    }
    .header-box button{
        width: 80px;
        height: 68px;
        background: #5C8EE5;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
    }
    .header-box button::after{
        font-size: 20px;
        line-height: 50px;
        text-align: left;
        position: fixed;
        margin-top: 50px;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 16px;
        cursor: pointer;
        z-index: 1001;
        margin-left: 35px;
    }
    .burger-menu span {
        display: block;
        height: 2px;
        background-color: #292D33;
        transition: 0.3s;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }
    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }

    .nav-menu {
        display: none;
        padding-top: 70px;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
    }
    .ul-overall{
        color: #292D33;
        background-color: #FFFFFF;
        margin-top: 590px;
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        padding: 0;
        width: 414px;
    }
    .nav-menu.active {
        display: flex;
        font-weight: bold;
        background: #FFFFFF;
    }
    .button1{
        display: none;
    }
    .ul-mobile{
        display: flex;
        flex-direction: column;
        font-weight: lighter;
        font-size: 13px;
        padding-left: 15px;
        line-height: 1.5;
    }
    .svg-mobile{
        width: 414px;
        margin: 20px 0 0 0 ;
    }
}
@media (min-width: 1024px) {
    .header-window{
        justify-content: center;
        inset: 0;
    }
    .ul-mobile{
        display: none;
    }
    .burger-menu {
        display: none;
    }
    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 20px;
        box-shadow: none;
    }
    .button-phone{
    display: none;
    }
    .header-end{
        justify-content: center;
        inset: 0;
    }
    .svg-mobile{
        display: none;
    }
    .ul-mobile2{
        display: none;
    }
}
