@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    background: white;
}
.header-box{
    display: flex;
    justify-content: space-between;
}
.header-box ul{
    font-family: 'Noto Sans',sans-serif;
    color: #292D33;
    font-size: 14px;
    list-style: none;
    display: flex;
    column-gap: 15px;
    padding-top: 40px;
    text-decoration-line: none;
}
.svg1{
    width: 140px;
    height: 66px;
}
.svg2{
    padding-top: 40px;
    padding-left: 50px;
}
.header-box p{
    font-family: 'Noto Sans',sans-serif;
    color: #292D33;
    font-size: 14px;
    padding-top: 40px;
    font-weight: bold;
}
.header-box button{
    Width: 252px;
    Height: 94px;
    background: #5C8EE5;
    font-family: 'Noto Sans',sans-serif;
    color: white;
    font-size: 16px;
    border-color: #5C8EE5;
}
@media (max-width: 480px) {
    .container{
        background: white;
        box-sizing: border-box;
    }
    .header-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-box .svg4{
        width: 40px;
        height: auto;
        margin: 0 auto;
        left: 20px;
        position: absolute;
    }
    .header-box .svg5{
        display: none;
    }
    .header-box ul{
        font-size: 14px;
        font-family: 'Noto Sans',sans-serif;
        color: #292D33;
        list-style: none;
        column-gap: 15px;
        padding-top: 20px;
        text-decoration-line: none;
        display: none;
    }
    .header-box p{
        display: none;
    }
    .header-box button{
        width: 80px;
        height: 68px;
        background: #5C8EE5;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
    }
    .header-box button::after{
        font-size: 20px;
        line-height: 50px;
        text-align: left;
        display: block;
    }
    .burger-menu{
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
    .burger-menu span{
        position: absolute;
        width: 100%;
        height: 3px;
        background: #FFFFFF;
        left: 0;
        transition: all 0.3s ease;
    }
    .burger-menu span:ntn-child (1){
        top: 0;
    }
    .burger-menu span:ntn-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    .burger-menu span:ntn-child(3){
        bottom: 0;
    }
    .burger-menu .active span:ntn-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger-menu .active span:ntn-child(2){
        opacity: 0;
    }
    .burger-menu .active span:ntn-child(3){
        transform: rotate(-45deg) translate(7px, -7px);
    }
    .modal-menu{
        display: none;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: #FFFFFF;
        z-index: 1000;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
    }
    .button1{
        display: none;
    }
}