@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.footer{
    padding: 40px 0 0 70px;
}

.footer-center{
    display: flex;
}
.ul1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 10px 0 0 15px;
}
.ul2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 65px 0 15px 80px;
}
.ul3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 10px 0 0 95px;
}
.ul4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #292D33;
    font-weight: bold;
    list-style: none;
    padding: 20px 0 0 120px;
}
.footer-bottom{
    display: flex;
}
.footer-bottom ul{
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #828A99;
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.svg8{
    width: 1260px;
    position: absolute;
    left: 0;
    right: 0;
}
.h4{
    padding-left: 70px;
}
@media (max-width: 420px) {
    .footer{
        padding: 30px 0 0 35px;
    }
    .footer-box {
        display: flex;
        flex-direction: column;
    }
    .h4{
        font-size: 25px;
        padding-left: 0;
    }
    .svg8{
       display: none;
    }
    .ul-footer{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .ul1{
        display: flex;
        flex-direction: column;
    }
    .ul2{
        display: flex;
        flex-direction: column;
        padding: 5px 0 5px 15px;
    }
    .ul3{
        display: flex;
        flex-direction: column;
        padding: 5px 0 5px 15px;
    }
    .ul4{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .footer-center{
        display: flex;
        flex-direction: column;
    }
    .ul6{
        display: flex;
        flex-direction: column;
    }
    .li3{
        padding-left: 0;
    }
    .h6-footer{
        padding-left: 0;
    }
    .li-footer{
        margin-left: 0;
        column-gap: 15px;
        margin-bottom: 5px;
    }
    .footer-bottom{
        padding-top: 20px;
    }
    .li-foot{
        padding-left: 0;
        padding-top: 10px;
    }
    .li3{
        margin: 10px 0 10px 0;
    }
    .svg-footer{
        width: 420px;
        height: 20px;
        margin-top: 15px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .svg-footer1{
        width: 420px;
        height: 20px;
        margin-top: 0;
        position: absolute;
        left: 0;
        right: 0;
    }
}
@media (min-width: 1024px) {
    .svg-footer{
        display: none;
    }
}