@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.footer{
    padding: 40px 0 0 70px;
}

.footer-center{
    display: flex;
}
.h62{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #292D33;
    padding-left: 60px;
}
.ul1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 10px 0 0 15px;
}
.ul2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 65px 0 15px 80px;
}
.ul3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #828A99;
    list-style: none;
    padding: 10px 0 0 95px;
}
.ul4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #292D33;
    font-weight: bold;
    list-style: none;
    padding: 20px 0 0 120px;
}
.footer-bottom{
    display: flex;
}
.footer-bottom ul{
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #828A99;
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.svg8{
    width: 1260px;
    position: absolute;
    left: 0;
    right: 0;
}