@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec8{
    padding-top: 160px;
}
.sec8-box1{
    display: flex;
    Width: 1265px;
    Height:552px;
    background: #F0F2F5;
    position: relative;
}
.sec8-left img{
    padding:25px 0 0 0;
    position: absolute;
    top: -100px;
    left: -180px;
}
.sec8-right1{
    padding:60px 0 0 550px;
}
.sec8-right1 h2{
    font-size: 40px;
    font-family: "Bebas Neue",sans-serif;
    color: #292D33;
    padding-top: 50px;
}
.p16{
    font-size: 16px;
    font-family: "Noto Sans",sans-serif;
    color: #828A99;
    padding-top: 20px;
}
.btn2{
    Width:305px;
    Height:66px;
    background: #F0F2F5;
    margin-right: 20px;
    margin-top: 50px;
}
.btn3{
    Width:305px;
    Height:66px;
    background: #F0F2F5;
    color: #292D33;
}
.btn2 input{
    background: #F0F2F5;
    border: none;
}
.btn3 input{
   background:  #F0F2F5;
    border: none;
}
.bottom button{
    Width:235px;
    Height:62px;
    background: #5C8EE5;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Noto Sans",sans-serif;
    border: none;
}
.bottom span{
    color: #F0F2F5;
}
@media (max-width: 420px){
    .sec8{
        padding-top: 50px;
    }
    .sec8-left{
        display: none;
    }
    .sec8-right1{
        padding: 30px 0 0 35px;
    }
    .sec8-box1{
        width: 420px;
        height: 740px;
    }
    .sec8-right1 h2{
        font-size: 29px;
        font-family: "Bebas Neue",sans-serif;
        color: #292D33;
    }
    .p16{
        font-size: 14px;
        font-family: "Noto Sans",sans-serif;
        color: #828A99;
        padding-top: 15px;
        width: 380px;
    }
    .sec8-bottom{
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    .p-mobile{
        margin-left: 0;
        margin-top: 30px;
        font-size: 14px;
    }
}