@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec7{
    padding: 80px 0 0 70px;
}
.sec7-box h2 {
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    color: #292D33;
    padding-top: 20px;
}
.sec7-card{
    display: flex;
    gap: 30px;
    padding-top: 40px;
}
.sec7-left{
    background: url("image/f1a3baf781f6cdbbe7384ff0e254e1b151f02849.jpg");
    width: 560px;
    height: 295px;
    background-size: cover;
}
.sec7-right{
    background: url("image/bd8483f914f4821cb4da55404378f8385c735450.jpg");
    width: 590px;
    background-size: cover;
}
.p14-2{
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    padding: 160px 0 0 20px;
}
.p14-1{
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    padding: 125px 0 0 20px;
}
.p14span{
    font-size: 15px;
    color:#FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    padding:10px 0 0 20px;
}
.bottom{
    display: flex;
}
.p15{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #5C8EE5;
    margin: -30px 0 0 50px;
    position: relative;

}
