@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.sec8{
    padding-top: 160px;
}
.sec8-box{
    display: flex;
    Width: 1265px;
    Height:552px;
    background: #F0F2F5;
    position: relative;
}
.sec8-left img{
    padding:25px 0 0 0;
    position: absolute;
    top: -100px;
    left: -180px;
}
.sec8-right{
    padding:60px 0 0 550px;
}
.sec8-right h2{
    font-size: 40px;
    font-family: "Bebas Neue",sans-serif;
    color: #292D33;
    padding-top: 50px;
}
.p16{
    font-size: 16px;
    font-family: "Noto Sans",sans-serif;
    color: #828A99;
    padding-top: 20px;
}
.btn2{
    Width:305px;
    Height:66px;
    background: #F0F2F5;
    border: 1px #E4E4EB solid;
    margin-right: 20px;
    margin-top: 50px;
}
.btn3{
    Width:305px;
    Height:66px;
    background: #F0F2F5;
    border: 1px #E4E4EB solid;
    margin-top: 50px;
    color: #292D33;
}
.btn2 input{
    background: #F0F2F5;
    border: none;
}
.btn3 input{
    background:  #F0F2F5;
    border: none;
}
.bottom button{
    Width:235px;
    Height:62px;
    background: #5C8EE5;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Noto Sans",sans-serif;
    border: none;
}
.bottom span{
    color: #F0F2F5;
}